<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NCU_stu_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NCU_stu_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <connectionStrings>
    <add name="shop" connectionString="server=retyrp.database.windows.net;database=shop;user id=retyrp;password=Yrphhxxttxs0014;" providerName="System.Data.SqlClient" >
    </add>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NCU_stu_System.Properties.Settings>
            <setting name="ID" serializeAs="String">
                <value>学号/用户名</value>
            </setting>
            <setting name="PWD" serializeAs="String">
                <value>密码</value>
            </setting>
            <setting name="CHECKBOX_PWD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CHECKBOX_AOTU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>北京</value>
            </setting>
            <setting name="NAME" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="IP_server" serializeAs="String">
                <value>192.168.120.1</value>
            </setting>
            <setting name="PORT_server" serializeAs="String">
                <value>1069</value>
            </setting>
            <setting name="stu_id" serializeAs="String">
                <value>8000114069</value>
            </setting>
            <setting name="stu_pwd" serializeAs="String">
                <value>112411yrp</value>
            </setting>
        </NCU_stu_System.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NCU_stu_System.Properties.Settings>
            <setting name="NCU_stu_System_cn_com_webxml_www_WeatherWebService"
                serializeAs="String">
                <value>http://www.webxml.com.cn/WebServices/WeatherWebService.asmx</value>
            </setting>
        </NCU_stu_System.Properties.Settings>
    </applicationSettings>
</configuration>